<ng-form name="resourceForm" class="form-horizontal" data-ng-submit="create()" novalidate>
    <div class="jumbotron BlackOnRed">
        <h2> Describe </h2>
        <create-description thing="resource.thing" confirmations="confirmations" />
    </div>

    <div class="jumbotron RedOnBlack">
        <h2>Classify</h2>
        <create-classification thing="resource.thing"  confirmations="confirmations"/>
    </div>

    <div class="jumbotron BlackOnRed">
        <h2>Map</h2>
        <create-map place="resource.place"  confirmations="confirmations"/>
    </div>

    <div class="jumbotron RedOnBlack">
        <h2>Schedule</h2>
        <create-schedule time="resource.time" confirmations="confirmations"/>
    </div>

    <div class="RedOnBlack">
        <div class="form-group">
            <input type="submit" value="Create Resource" ng-click="create()"
                   ng-disabled="! isCreateFormConfirmed()" class="btn btn-default btn-block">
        </div>
    </div>


    <div data-ng-show="error" class="text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
</ng-form>

<!-- Resource is {"thing":{"description":{"summary":"","notes":"","headline":"","method":""},"taxonomy":{"type":"food","subtypes":["Food Not Bombs"]},"details":["foo"],"subtypeChosen":["Food Not Bombs"]},"place":{"coordinates":{"lat":"","lng":""},"name":"","address":"Times Square, Manhattan, NY 10036, USA","notes":"lala","description":"lala","isLocationSet":true},"time":{"schedules":[],"notes":""}} -->
