// SASS style sheet */
// Palette color codes */
// Feel free to copy&paste color codes to your application */
// As hex codes */
$color-primary-0: #516756; // Main Primary color */
$color-primary-1: #D4E8D9;
$color-primary-2: #6DA078;
$color-primary-3: #273C2C;
$color-primary-4: #15371D;
$color-secondary-1-0: #435154; // Main Secondary color (1) */
$color-secondary-1-1: #C9D8DB;
$color-secondary-1-2: #5A7C82;
$color-secondary-1-3: #202E31;
$color-secondary-1-4: #12292D;
$color-secondary-2-0: #747E63; // Main Secondary color (2) */
$color-secondary-2-1: #F0F8E3;
$color-secondary-2-2: #ACC386;
$color-secondary-2-3: #404930;
$color-secondary-2-4: #33431A;
$color-complement-0: #886E6B; // Main Complement color */
$color-complement-1: #FFEBE9;
$color-complement-2: #D39791;
$color-complement-3: #4F3734;
$color-complement-4: #49201C;
$pop-color: #D83636;
.gs-navbar {}

.header {}

.gs-navbar {}


/* Panel */

.space-search-panel {}

.event-calendar-view {}

.time-search-panel {}

.thing-search {}


/* Pages */

.gutterPage {}

.front-pg {}

.welcome-pg {}

.all-shareables-pg {}

.shareable-search-pg {}

.shareable-create-wizard-pg {}

.shareable-edit-page {}

.shareable-full-page {}


/* Buttons */


/* Widgets */

.alert alert-danger {}


/* Tabs */

.all-shareables-calendar-tab {}

.all-shareables-list-tab {}

.all-shareables-map-tab {}


/*  Forms */

.gutterForm {}

.signup-form {}

.signout {}

.signup-form {}

.shareable-create-wizard-form {}

.thing-create-form {}

.time-create-formtime-full {}


/* Form Elements */

.form-component-field {}

.form-html-input {}


/* Components */

.shareable-create-start {}

.map-with-geocoder-input {}

.space-create {}

.space-full {}

.kropotkin-quote {}

{}

.shareable-full {}

.thing-full {}

.calendar {
    width: 80%;
    height: 75%;
    margin: 15px;
    overflow: hidden;
}


/* Lists && Tables */

.space-li {}

.shareable-li {}

.thing-li {}

.time-li {}

.date-listing {}


/* comments */

.comment-full {}

.comment-list {}


/* modals */

.modal-header {}

.modal-title .modal-body {}

.modal-footer {}