.leaflet-container {
    height: 400px;
    width: 100%;
}

.calendar {
 width: 900px;
    margin: 0 auto;
    height: 500px
}

#calendar {
    width: 900px;
    margin: 0 auto;
    height: 500px
}



.RedOnBlack{
    background-color: black ;
    color: red ;
    border: 5px solid darkred;
}
.RedOnBlack > a  {
    color: red ;
    background-color: black ;
}
.RedOnBlack > a:hover {
    color: #ff1111 ;
    background-color: black ;
}
.RedOnBlack > a:active {
    color: #ff5555 ;
    background-color: black ;
}

