<div class="navbar-collapse collapse bottom-collapse PurpleAndOrange" data-ng-controller="HeaderController">
    <ul class="nav navbar-nav">
        <li> <a href="/#/" class="OrangePurple navbar-brand">Home</a></li>
        <li> <a ui-sref="faq" class="OrangePurple navbar-brand">FAQ</a></li>
        <li> <a ui-sref="mission"  class="OrangePurple navbar-brand">Mission</a> </li>
        <li> <a ui-sref="about"  class="OrangePurple navbar-brand">About</a> </li>
        <li> <a ui-sref="documentation"  class="OrangePurple navbar-brand">Documentation</a> </li>
        <li> <a ui-sref="illlegal"  class="OrangePurple navbar-brand">Ill Legal</a> </li>
        <li> <a ui-sref="contact"  class="OrangePurple navbar-brand">Contact</a> </li>
    </ul>
</div>