
<footer class="footer">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-bottom"
             data-ng-controller="HeaderController">
            <div class="container">
                <!--  Collapse -->

                <div class="navbar-collapse collapse" id="footer-body">
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="faq" class="navbar-brand OrangePurple">FAQ</a></li>

                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="mission"  class="navbar-brand OrangePurple">Mission</a></li>

                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="about"  class="navbar-brand OrangePurple">About</a></li>

                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="documentation"  class="navbar-brand OrangePurple">Docs</a></li>

                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="illlegal"  class="navbar-brand OrangePurple">L@W</a></li>
                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="contact"  class="navbar-brand OrangePurple">Contact</a></li>
                    </ul>
                </div>


                <!--  Navbar Header/Footer -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="footer-bar-btns visible-xs">
                        <li><a ui-sref="faq" class="navbar-brand OrangePurple">FAQ</a></li>

                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="mission"  class="navbar-brand OrangePurple">Mission</a></li>

                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="about"  class="navbar-brand OrangePurple">About</a></li>
                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="documentation"  class="navbar-brand OrangePurple">Docs</a></li>
                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="illlegal"  class="navbar-brand OrangePurple">L@W</a></li>
                        <li  ng-class="{active: $uiRoute}">
                            <a ui-sref="contact"  class="navbar-brand OrangePurple">Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>


<footer class="footer">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand OrangePurple" href="#">Guttersnipe</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a ui-sref="faq" class="navbar-brand OrangePurple">FAQ</a></li>
                    </li>

                    <li  ng-class="{active: $uiRoute}">
                        <a ui-sref="mission"  class="navbar-brand OrangePurple">Mission</a>
                    </li>

                    <li  ng-class="{active: $uiRoute}">
                        <a ui-sref="about"  class="navbar-brand OrangePurple">About</a>
                    </li>

                    <li  ng-class="{active: $uiRoute}">
                        <a ui-sref="documentation"  class="navbar-brand OrangePurple">Docs</a>
                    </li>

                    <li  ng-class="{active: $uiRoute}">
                        <a ui-sref="illlegal"  class="navbar-brand OrangePurple">L@W</a>
                    </li>

                    <li  ng-class="{active: $uiRoute}">
                        <a ui-sref="contact"  class="navbar-brand OrangePurple">Contact</a>
                    </li>
                </ul>
            </div>



        </div>
</footer>
