body {
    background-color: #be0404;
    /* Margin bottom by footer height */
    margin-bottom: 60px;

}
.angular-leaflet-map {
    height: 400px;
    border: 4px #fff solid;
    margin-bottom: 20px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
}


gut-video {
background-color: red;
}
.BlackOnRed{
    background-color: red;
    color: black;
    border: 5px solid rgb(182,183,187);
}

.BlackOnRed > a {
    color: black;
}

.RedOnBlack{
    background-color: black;
    color: red ;
    border: 5px solid darkred;
}
.RedOnBlack > a  {
    color: #ff5555
}
.RedOnBlack > a:hover {
    color: #ff1111;
}
.RedOnBlack > a:active {
    color: #ff5555;
}

input {
    padding: 6px 12px 6px 12px;
    border: 1px solid #665544;
    color: #ffffff;}
input.submit:hover {
    background-color: #665544;}
input.submit:active {
    background-color: chocolate;}
input.text {
    color: #cccccc;}
input.text:focus {
    color: #665544;}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


/* FOOTER */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #282828;
}

.NavColor  {
    background-color: #282828;
    color: rgb(256, 11, 11);
}
