body {
    background-color: #be0404;
}
.angular-leaflet-map {
    height: 400px;
    border: 4px #fff solid;
    margin-bottom: 20px;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
}


gut-video {
background-color: red;
}
.BlackOnRed{
    background-color: red;
    color: black;
    border: 5px solid rgb(182,183,187);
}

.RedOnBlack{
    background-color: black;
    color: red ;
    border: 5px solid darkred;
}
.RB_Link  {
    color: #ff5555
}
.RB_Link:hover {
    color: #ff1111;
}
.RB_Link:active {
    color: #ff5555;
}

input {
    padding: 6px 12px 6px 12px;
    border: 1px solid #665544;
    color: #ffffff;}
input.submit:hover {
    background-color: #665544;}
input.submit:active {
    background-color: chocolate;}
input.text {
    color: #cccccc;}
input.text:focus {
    color: #665544;}

.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


/* FOOTER */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

