<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thing</h3>
    </div>
    <div class="panel-body">
        <dl> Description
            <li>
                {{thing.description.summary}}
            </li>
        </dl>

        <dl> Type
            <li>
                {{thing.taxonomy.type}}
            </li>
        </dl>

        <dl> Subtypes
            <li ng-repeat="subtype in thing.taxonomy.subtypes">
                {{subtype}}
            </li>
        </dl>

        <dl> Details
            <li ng-repeat="detail in thing.summary.details">
                {{detail}}
            </li>
        </dl>

    </div>
</div>