<div class="nova-infobar" affix="35">
    <div class="nova-secondary-nav">
        <category-nav category-id="categoryId" />
    </div>
    <div class="nova-toolbar">
        <form class="form-inline" role="form">
            <div class="form-group">
                <search-box callback="filter(query)"></search-box>
            </div>
        </form>        
    </div>
</div>


<div class="nova-content">
    <table class="nova-toc table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody ng-repeat="child in currentLink.children" ng-show="child.children.length > 0">
            <tr>
                <td colspan="2" class="toc-category-name" ng-bind-html="highlight(child.name)"></td>
            </tr>
            <tr ng-repeat="grandchild in child.children">
                <td>
                    <div class="toc-report-name"><a ng-href="{{grandchild.path}}" ng-bind-html="highlight(grandchild.name)"></a></div>
                </td>
                <td>
                    <div class="toc-report-desc" ng-bind-html="highlight(grandchild.description)"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
