<div class="container">
    <h3><a href="/security/login" ng-click="user = null">Log Out</a></h3>
    <h1>Account</h1>
    <div class="row">
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.fullName">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email Address" ng-model="user.emailAddress">
                </div>
                <button type="submit" class="btn btn-default pull-right">Save</button>
            </form>
        </div>
    </div>
    <h1>Password</h1>
    <div class="row" style="margin-bottom: 30px">
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" id="currentPassword" placeholder="Current Password">
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="New Password">
                </div>
                <button type="submit" class="btn btn-default pull-right">Change</button>
            </form>
        </div>
    </div>
</div>