<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Place</h3>
    </div>
    <div class="panel-body">
        <em>Address: </em>    {{place.address}} <br />
        {{place.coordinates}}
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
            <ui-gmap-marker coords="marker.coords" idkey="marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    <em>Notes: </em>  {{place.notes}}
</div>



    <!--
    place: {
      coordinates : {
        lat: 40.693483,
        lng: -73.991377
      },
      address: '175 Remsen St    Brooklyn, NY 11201',
      notes: 'Remsen St across from Borough Hall, between Court and Clinton Sts, Brooklyn'
    },
-->
