<section  >
    <div ng-if="showMap">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" >
            <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" click="'onClick'">
                <ui-gmap-windows show="show">
                    <div ng-non-bindable>{{title}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    <br>
    </div>
    <button ng-click="showMap=true"> Show Map</button>
</section>
