gsnipe-env

selenium/

# npm
node_modules

#temp files
*~
~*
\#*

#error files
*debug.log
errors.txt

# JetBrains
*.xml
.idea
.vscode

# Python Compiled
*.pyc
npm-debug.log*
phantomjsdriver.log

# Personal Study
z_slingshot_src/
