gsnipe-env

ios/
doc/
android/
z_older/
.z_older/
older/

selenium/
tutorials/

package-lock.json
yarn.lock

# npm
node_modules

#temp files
*~
~*
\#*
*#

#error files
*debug.log
errors.txt

# JetBrains
*.xml
.idea
.vscode

# Python Compiled
*.pyc
npm-debug.log*
phantomjsdriver.log

# Personal Study
z_slingshot_src/

.DS_Store

notes.txt
yarn-error.log
yarn.lock
client/yarn.lock

android/app/build/
guttersnipe/android/.gradle/
guttersnipe/android/app/build/
