# built files
client/native/android/app/build
.gradle

# no local properties
local.properties
client/native/android/local.properties
client/native/local.properties
client/native/ios/guttersnipe.xcodeproj/


doc/
z_older/
.z_older/
older/

ios/
android/
local.properties

selenium/
tutorials/
__tutorials__/

package-lock.json
yarn.lock

# npm
node_modules

#temp files
*~
~*
\#*
*#

#error files
*debug.log
errors.txt

# JetBrains
.idea
.vscode

# Python Compiled
*.pyc
npm-debug.log*
phantomjsdriver.log

# Personal Study
z_slingshot_src/

.DS_Store

notes.txt
yarn-error.log
yarn.lock
client/yarn.lock

