<div ng-show="!confirmations.isCreateTimeConfirmed" ui-calendar="uiConfig.calendar"
     class="span8 calendar" ng-model="calendarSources"></div>

<div><hr><br><hr></div>

<div class="panel panel-default">
    <div class="panel-heading"><h2>Schedule:</h2></div>
    <div class="panel-body">
        <div ng-if="time.schedules.length<1">
            None
        </div>
        <div ng-if="time.schedules.length>0">
            <table class="schedule table-bordered table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Repeats</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in time.schedules">
                    <td> <div ng-if="!event.repeating"> {{event.start | date: 'longDate' }} </div> </td>
                    <td> <div ng-if="event.repeating"> Every {{event.start | date: 'EEEE' }} </div> </td>
                    <td> {{event.start | date: 'hh:mm a' }}</td>
                    <td> {{event.end | date: 'hh:mm a'}} </td>
                    <td class="alert"> <span  ng-click="removeSchedule(event)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                </tr>
                </tbody>
            </table>
            <div><br><hr><br></div>
            <div class="form-group">
                <label for="notes">Notes</label>
                <input ng-model="time.notes" id="notes" type="text" class="form-control"
                       placeholder="Additional Notes about Schedule" ng-maxlength="100">
            </div>
        </div>
    </div>
</div>

<button  ng-show="!confirmations.isCreateTimeConfirmed" type="button" class="btn btn-default" ng-disabled="time.schedules.length<1" ng-click="confirmations.isCreateTimeConfirmed=true">Confirm Schedules</button>

<button  ng-show="confirmations.isCreateTimeConfirmed" type="button" class="btn btn-default"  ng-click="confirmations.isCreateTimeConfirmed=false">Edit Schedules</button>