<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Time</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="schedule in time.schedules">
                <div ng-if="schedule.recurrenceType">
                    Every {{schedule.start | date : 'EEEE'}} <br />
                    From   {{schedule.start | date : 'EEEE'}}, {{schedule.start | date: 'shortTime'}} <br />
                    To {{schedule.end  | date : 'EEEE'}}, {{schedule.end | date: 'shortTime'}}
                </div>
                <div ng-if="!schedule.recurrenceType">
                    On {{schedule.start | date: 'longDate'}} <br />
                    From   {{schedule.start | date: 'short'}} <br />
                    To {{schedule.end | date: 'short'}}
                </div>
            </li>
        </ul>
    </div>
</div>
