{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Thermos -- Login
{%  endblock %}

{% block content %}
    <section>
        <h1 style="clear:both">Create an account</h1>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.username, size=50) }}
                {{ render_field(form.email, size=50) }}
                {{ render_field(form.password, size=50) }}
                {{ render_field(form.password2, size=50) }}

                <tr class="submit">
                    <td></td>
                    <td><button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}