
/*
	LIGHT STYLE
*/

body { background: #fafafa url(../img/background/body-light.jpg) 0 0 repeat; }
h1 b, h2 b, h3 b, h4 b, h5 b, h6 b, .intro:first-letter { color:#333; text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #999; }
#nav li.active, #nav > li:hover, #nav ul li { background: #333 url(../img/background/texture-dark.jpg); }

.show-grid [class*="span"] { background-color: #e5e5e5; }

input, textarea { border-color:#ddd; }
.featured-posts img { border-color:#fff; }
.well, .footer, pre, .table th, .table td, .commentlist .children > li { border-color:#e5e5e5; }

#portfolio .item, .accordion-group .accordion-heading .accordion-toggle, .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .pagination a:hover, .pagination .current a, .commentlist .comment-body { background-color: #fff; }

.nav > li > a:hover, .accordion-group.active .accordion-group .accordion-heading .accordion-toggle:hover { background-color: #fafafa; }

.header-wrap, .page-header, .content h2, .tagline, .blog-part h3, .content .tagline, .search-widget, .post .tags, .post-single .media-box { border-color:#ccc; }

input, textarea { outline:3px solid #fff; }

input:focus, textarea:focus { border-color:#ccc; outline-color:#fff; background-color:#fafafa; }

.input-append .send:hover { border-color: #aaa; }

/* footer dark style */
.footer { color:#fff; text-shadow:0 1px 0 #000; border-top:5px solid #222; background:url(../img/background/texture-dark.jpg) 0 0 repeat; }
.footer b { color:#fff; text-shadow: 1px 1px 0px #000, 2px 2px 0px #555, 3px 3px 0px #222, 4px 4px 0px #222; }
.footer a { color:#abb587; }
.footer address strong { color: #fff; }
.footer .social li a { background-color:#222; }
#twitter-list ul li span, #flickr_badge_wrapper img { border-color: #222; }
#twitter-list ul li span { background: #333; background: rgba(0, 0, 0, .3); }
.footer .widget ul.list li a { color:#eee; }
.footer .widget ul.list li a:hover { color:#333; }