
// js
script(type="application/javascript",  src="/js/lib/jquery/jquery.js")
script(type="application/javascript",  src="/js/lib/bootstrap/bootstrap.js")
script(type="application/javascript",  src="/js/lib/lodash/lodash.js")
// angular
script(type="application/javascript",  src="/js/lib/angular/angular.js")
script(type="application/javascript",  src="/js/lib/angular/angular-animate.js")
// novo plugins
script(type="application/javascript",  src="/js/lib/novolib/debug.js")
script(type="application/javascript",  src="/js/lib/novolib/bootstrap.js")
script(type="application/javascript",  src="/js/lib/novolib/lodash-mixins.js")
// routing
script(type="application/javascript",  src="/js/lib/ui-router/angular-ui-router.js")
// map
script(type="application/javascript",  src="/js/lib/leaflet/leaflet.js")
script(type="application/javascript",  src="/js/lib/leaflet/angular-leaflet-directive.js")
// calendar
script(type="application/javascript",  src="/js/lib/ui-calendar/moment-with-locales.js")
script(type="application/javascript",  src="/js/lib/ui-calendar/fullcalendar.js")
script(type="application/javascript",  src="/js/lib/ui-calendar/gcal.js")
script(type="application/javascript",  src="/js/lib/ui-calendar/calendar.js")
// utilities
script(type="application/javascript",  src="/js/lib/wizard/angular-wizard.js")
//  angular
// app
script(type="application/javascript",  src="/js/app.js")
// services
script(type="application/javascript",  src="/js/services/users/authService.js")
script(type="application/javascript",  src="/js/services/resources/ResourceTaxonomySvc.js")
// controllers
script(type="application/javascript",  src="/js/controllers/users/loginController.js")
script(type="application/javascript",  src="/js/controllers/users/homeController.js")
script(type="application/javascript",  src="/js/controllers/users/registerController.js")
script(type="application/javascript",  src="/js/controllers/users/editProfileController.js")
script(type="application/javascript",  src="/js/controllers/users/logoutController.js")
script(type="application/javascript",  src="/js/controllers/resources/searchController.js")
script(type="application/javascript",  src="/js/controllers/resources/createReportController.js")
script(type="application/javascript",  src="/js/controllers/resources/resourceTypeController.js")
script(type="application/javascript",  src="/js/controllers/resources/resourceDetailsController.js")
script(type="application/javascript",  src="/js/controllers/experimental/wizardController.js")
script(type="application/javascript",  src="/js/controllers/experimental/wizardController2.js")
script(type="application/javascript",  src="/js/controllers/experimental/siteController.js")
// admin controllers
script(type="application/javascript",  src="/js/controllers/admin/manageDataController.js")
script(type="application/javascript",  src="/js/controllers/admin/manageUsersController.js")

// directives
script(type="application/javascript",  src="/js/directives/resources/ResourceDirective.js")

    script(type="application/javascript",  src="/js/controllers/resources/locationController.js")
