<section data-ng-controller="ResourcesReadController as rsc">
    <div class="page-header">
        <h1>Resources</h1>
    </div>
    <section>
        <tabset>
            <tab heading="List" ng-click="rsc.showMap=false">
                <resources-list resources="rsc.resources"></resources-list>
            </tab>
            <tab heading="Map" ng-click="rsc.showMap=true">
                <resources-map map="rsc.map" showMap="rsc.showMap"></resources-map>
            </tab>
            <tab heading="Calendar" times="rsc.calendar" ng-click="rsc.showMap=false">
                <resources-calendar></resources-calendar>
            </tab>
        </tabset>
        <div ui-view="tabContent" id="tabContent" class="container admin-content"></div>

    </section>
    <section>
        <h2> Filter Resources by </h2>
        <tabset>
            <tab heading="Thing" >
                Thing
                <thing-find></thing-find>

            </tab>
            <tab heading="Place" >
                Place
                <place-find></place-find>
            </tab>
            <tab heading="Time" >
                Time
                <time-find></time-find>
            </tab>
        </tabset>

    </section>


    <div class="alert alert-warning text-center" data-ng-hide="!resources.$resolved || resources.length">
        No Resources yet, why don't you <a href="/#/resources/create">create one</a>?
    </div>
</section>
