<div class="container-fluid">
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-xs-6 col-md-2"><resource-headline headline="resource.thing.description.headline"></resource-headline></div>
        <div class="col-xs-6 col-md-3"><thing-small thing="resource.thing"></thing-small></div>
        <div class="col-xs-6 col-md-2"><place-small place="resource.place"></place-small></div>
        <div class="col-xs-6 col-md-3"><time-small time="resource.time"></time-small></div>
        <div class="col-xs-6 col-md-2"><a role="button" class="btn btn-danger" data-ng-href="#/resources/{{resource._id}}">Full Record</a></div>
    </div>
</div>
