<section>
    <div class="list-group">
        <div data-ng-repeat="resource in resources"  class="list-group-item">
            <resource-li></resource-li>
            <small class="list-group-item-text">
                Created by
                <span data-ng-bind="resource.created | date:'medium'"></span>
                by
                <span data-ng-bind="resource.createdBy.username"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="resource.name"></h4>
            </a>
        </div>
    </div>
</section>


