<section data-ng-controller="ResourcesReadOneController as rsc" data-ng-init="findOne()">
    <div>
        <div><resource-headline headline="rsc.resource.thing.description.headline"></resource-headline></div>
    </div>
    <div>
        <div><thing-full thing="rsc.resource.thing"></thing-full></div>
        <div><place-full place="rsc.resource.place"  map="rsc.map"></place-full></div>
        <div><time-full time="rsc.resource.time"></time-full></div>
    </div>

    <div><resource-method></resource-method></div>
    <div><resource-notes></resource-notes></div>
    <div class="rating jumbotron">
        <h2>Ratings </h2>
        <div> Current rating:  8</div>

        <div> Rate this resource:
            <rating ng-model="rsc.rating" max="rsc.maxRating"
                    readonly="false"></rating>
        </div>
    </div>

    <div class="rating jumbotron">
        <h2>Comments </h2>
        <h3>Add a comment</h3> <br />
        <textarea></textarea> <br />

        <ul>
            <li> This is great</li>
            <li> This is really great</li>
            <li> This is the greatest</li>
        </ul>
    </div>


    <div class="page-header">
        <h1 data-ng-bind="resource.name"></h1>
    </div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == resource.user._id))">
        <a class="btn btn-primary" href="/#/resources/{{resource._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Created on
            <span data-ng-bind="resource.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="resource.user.displayName"></span>
        </em>
    </small>
</section>
