<section data-ng-controller="ResourcesReadOneController as rsc" data-ng-init="findOne()">
Resource is {{rsc.resource._id}} <br />
User is {{rsc.authentication.user._id}}
    <div>
        <div><resource-headline headline="rsc.resource.thing.description.headline"></resource-headline></div>
    </div>
    <div>
        <div><thing-full thing="rsc.resource.thing"></thing-full></div>
        <div><place-full place="rsc.resource.place"  map="rsc.map"></place-full></div>
        <div><time-full time="rsc.resource.time"></time-full></div>
    </div>

    <div><resource-method></resource-method></div>
    <div><resource-notes></resource-notes></div>
    <div class="rating jumbotron">
        <h2>Ratings </h2>
        <div> Current rating:  8</div>

        <div> Rate this resource:
            <rating ng-model="rsc.rating" max="rsc.maxRating"
                    readonly="false"></rating>
        </div>
    </div>


    <div class="rating jumbotron">
        <div>
            <ul>
                <li ng-repeat="comment in comments">
                    <blockquote> {{comment.text}}</blockquote>
                    by {{comment.author}} on {{comment.date}}
                </li>
            </ul>
            <ng-form>
                <div> Add Comment
                    <textarea ng-model="comment"></textarea>
                    <button class="btn btn-default" ng-disabled="!comment"
                            ng-click="rsc.addComment(comment)">Add</button>
                </div>
            </ng-form>
        </div>
    </div>


    <div class="page-header">
        <h1 data-ng-bind="resource.name"></h1>
    </div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == resource.user._id))">
        <a class="btn btn-primary" href="/#/resources/{{resource._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Created on
            <span data-ng-bind="rsc.resource.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="rsc.resource.createdBy.username"></span>
        </em>
    </small>
</section>
