<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fullcalendar.css">
</head>
<body ng-app="guttersnipe">

<section class="content">
    <div wrapper>
        <div ui-view id="view" class="container">
        </div>
    </div>
</section>

<!-- js-->
<script type="application/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="/lib/lodash/dist/lodash.js"></script>

<!-- angular-->
<script type="application/javascript" src="/lib/angular/angular.js"></script>
<script type="application/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="application/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="application/javascript" src="/lib/angular-animate/angular-animate.js"></script>

<!-- novo plugins-->
<script type="application/javascript" src="/lib/novolib/debug.js"></script>
<script type="application/javascript" src="/lib/novolib/bootstrap.js"></script>
<script type="application/javascript" src="/lib/novolib/lodash-mixins.js"></script>

<!-- routing-->
<script type="application/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

<!-- map-->
<script type="application/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
<script type="application/javascript" src="/lib/angular-leaflet/dist/angular-leaflet-directive.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>



<!-- calendar
Resource interpreted as Script but transferred with MIME type text/html: "http://localhost:4444/lib/wizard/angular-wizard.js". localhost/:50
Uncaught SyntaxError: Unexpected token <

-->
<script type="application/javascript" src="/lib/moment/moment.js"></script>
<script type="application/javascript" src="/lib/fullcalendar/fullcalendar.js"></script>
<!--
<script type="application/javascript" src="/lib/ui-calendar/gcal.js"></script>
-->
<script type="application/javascript" src="/lib/angular-ui-calendar/src/calendar.js"></script>

<!-- utilities-->
<script type="application/javascript" src="/lib/angular-wizard/dist/angular-wizard.js"></script>
<!------------->
<!--  angular-->
<!------------->

<!-- app-->
<script type="application/javascript" src="/app.js"></script>


<script type="application/javascript" src="/homeController.js"></script>

<!-- services-->
<script type="application/javascript" src="/modules/users/services/usr_authService.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/common/rsc_taxonomyService.js"></script>
<script type="application/javascript" src="/modules/resources/place/rsc_geocodeService.js"></script>

<!-- controllers-->
<script type="application/javascript" src="/modules/users/controllers/usr_loginController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_registerController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_editProfileController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_logoutController.js"></script>

<script type="application/javascript" src="/modules/resources/main/rsc_createResourceController.js"></script>

<script type="application/javascript" src="/modules/resources/place/rsc_locationController.js"></script>
<script type="application/javascript" src="/modules/resources/place/rsc_mapController.js"></script>

<script type="application/javascript" src="/modules/resources/time/common/rsc_scheduleController.js"></script>

<!-- admin controllers-->
<script type="application/javascript" src="/modules/admin/controllers/adm_manageDataController.js"></script>
<script type="application/javascript" src="/modules/admin/controllers/adm_manageUsersController.js"></script>

<!-- directives-->
<script type="application/javascript" src="/modules/kropotkin/kropotkinDirective.js"></script>

<script type="application/javascript" src="/modules/resources/thing/summary/rsc_summaryDirective.js"></script>
<script type="application/javascript" src="/modules/resources/agreement/rsc_createAgreementDirective.js"></script>
<script type="application/javascript" src="/modules/resources/instructions/rsc_createInstructionsDirective.js"></script>

<script type="application/javascript" src="/modules/resources/place/rsc_mapLeafletDirective.js"></script>

<!-- Classification -->
<script type="application/javascript" src="/modules/resources/thing/taxonomy/common/rsc_taxonDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/common/rsc_typeDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/food/rsc_foodDetailsDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/medical/rsc_medicalDetailsDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/housing/rsc_housingDetailsDirective.js"></script>

<!-- Schedule -->
<script type="application/javascript" src="/modules/resources/time/common/rsc_ScheduleDirective.js"></script>
<script type="application/javascript" src="/modules/resources/time/punctual/rsc_PunctualDirective.js"></script>
<script type="application/javascript" src="/modules/resources/time/seasonal/rsc_SeasonalDirective.js"></script>
<script type="application/javascript" src="/modules/resources/time/recurring/rsc_WeeklyRecurringDirective.js"></script>
</body>
</html>
