<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fullcalendar.css">
</head>
<body ng-app="guttersnipe">

<section class="content">
    <div wrapper>
        <div ui-view id="view" class="container">
        </div>
    </div>
</section>

<!-- js-->
<script type="application/javascript" src="/lib/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="/lib/lodash/dist/lodash.js"></script>

<!-- angular-->
<script type="application/javascript" src="/lib/angular/angular.js"></script>
<script type="application/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="application/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="application/javascript" src="/lib/angular-animate/angular-animate.js"></script>

<!-- novo plugins-->
<script type="application/javascript" src="/lib/novolib/debug.js"></script>
<script type="application/javascript" src="/lib/novolib/bootstrap.js"></script>
<script type="application/javascript" src="/lib/novolib/lodash-mixins.js"></script>

<!-- routing-->
<script type="application/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

<!-- map-->
<script type="application/javascript" src="/lib/leaflet/dist/leaflet.js"></script>
<script type="application/javascript" src="/lib/angular-leaflet/dist/angular-leaflet-directive.js"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>


<script type="application/javascript" src="/lib/moment/moment.js"></script>
<script type="application/javascript" src="/lib/fullcalendar/fullcalendar.js"></script>
<!--
<script type="application/javascript" src="/lib/ui-calendar/gcal.js"></script>
-->
<script type="application/javascript" src="/lib/angular-ui-calendar/src/calendar.js"></script>

<!-- utilities-->
<script type="application/javascript" src="/lib/angular-wizard/dist/angular-wizard.js"></script>

<!------------->
<!--  angular-->
<!------------->

<!-- app-->
<script type="application/javascript" src="/app.js"></script>


<script type="application/javascript" src="/homeController.js"></script>

<!-- services-->
<script type="application/javascript" src="/modules/users/services/usr_AuthService.js"></script>

<!-- controllers-->
<script type="application/javascript" src="/modules/users/controllers/usr_LoginController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_RegisterController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_EditProfileController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_LogoutController.js"></script>

<script type="application/javascript" src="/modules/resources/main/rsc_CreateResourceController.js"></script>

<!-- admin controllers-->
<script type="application/javascript" src="/modules/admin/controllers/adm_ManageDataController.js"></script>
<script type="application/javascript" src="/modules/admin/controllers/adm_ManageUsersController.js"></script>

<!-- directives-->
<script type="application/javascript" src="/modules/kropotkin/kro_kropotkinDirective.js"></script>

<script type="application/javascript" src="/modules/resources/agreement/rsc_CreateAgreementDirective.js"></script>
<script type="application/javascript" src="/modules/resources/instructions/rsc_CreateInstructionsDirective.js"></script>

<!-------------------->
<!--     THING      -->
<!--    Summary     -->
<!-------------------->

<script type="application/javascript" src="/modules/resources/thing/summary/rsc_SummaryMasterDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/summary/rsc_SummaryInputDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/summary/rsc_SummaryConfirmedDirective.js"></script>



<!-------------------->
<!--     THING      -->
<!-- Classification -->
<!-------------------->
<script type="application/javascript" src="/modules/resources/thing/taxonomy/common/rsc_TaxonomyService.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/common/rsc_TaxonDirective.js"></script>

<!-- Type -->
<script type="application/javascript" src="/modules/resources/thing/taxonomy/type/rsc_TypeMasterDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/type/rsc_TypeInputDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/type/rsc_TypeConfirmedDirective.js"></script>

<!-- Food -->
<script type="application/javascript" src="/modules/resources/thing/taxonomy/food/rsc_FoodDetailsMasterDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/food/rsc_FoodDetailsInputDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/food/rsc_FoodDetailsConfirmedDirective.js"></script>

<!-- Medical -->
<script type="application/javascript" src="/modules/resources/thing/taxonomy/medical/rsc_MedicalDetailsMasterDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/medical/rsc_MedicalDetailsInputDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/medical/rsc_MedicalDetailsConfirmedDirective.js"></script>

<!-- Housing -->
<script type="application/javascript" src="/modules/resources/thing/taxonomy/housing/rsc_HousingDetailsMasterDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/housing/rsc_HousingDetailsInputDirective.js"></script>
<script type="application/javascript" src="/modules/resources/thing/taxonomy/housing/rsc_HousingDetailsConfirmedDirective.js"></script>

<!-------------------->
<!--     PLACE      -->
<!-------------------->

<script type="application/javascript" src="/modules/resources/place/rsc_MapMasterDirective.js"></script>
<script type="application/javascript" src="/modules/resources/place/rsc_MapInputDirective.js"></script>
<script type="application/javascript" src="/modules/resources/place/rsc_MapConfirmedDirective.js"></script>

<!-------------------->
<!--     TIME       -->
<!-------------------->

<!-- Schedule -->
<script type="application/javascript" src="/modules/resources/time/rsc_ScheduleMasterDirective.js"></script>
<script type="application/javascript" src="/modules/resources/time/rsc_ScheduleConfirmedDirective.js"></script>
<script type="application/javascript" src="/modules/resources/time/rsc_ScheduleInputDirective.js"></script>
</body>
</html>
