<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fullcalendar.css">
</head>
<body ng-app="guttersnipe">

<section class="content">
    <div wrapper>
        <div ui-view id="view" class="container">
        </div>
    </div>
</section>

<!-- js-->
<script type="application/javascript" src="/lib/jquery/jquery.js"></script>
<script type="application/javascript" src="/lib/bootstrap/bootstrap.js"></script>
<script type="application/javascript" src="/lib/lodash/lodash.js"></script>

<!-- angular-->
<script type="application/javascript" src="/lib/angular/angular.js"></script>
<script type="application/javascript" src="/lib/angular/angular-animate.js"></script>

<!-- novo plugins-->
<script type="application/javascript" src="/lib/novolib/debug.js"></script>
<script type="application/javascript" src="/lib/novolib/bootstrap.js"></script>
<script type="application/javascript" src="/lib/novolib/lodash-mixins.js"></script>

<!-- routing-->
<script type="application/javascript" src="/lib/ui-router/angular-ui-router.js"></script>

<!-- map-->
<script type="application/javascript" src="/lib/leaflet/leaflet.js"></script>
<script type="application/javascript" src="/lib/leaflet/angular-leaflet-directive.js"></script>
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>



<!-- calendar-->
<script type="application/javascript" src="/lib/ui-calendar/moment-with-locales.js"></script>
<script type="application/javascript" src="/lib/ui-calendar/fullcalendar.js"></script>
<!--
<script type="application/javascript" src="/lib/ui-calendar/gcal.js"></script>
-->
<script type="application/javascript" src="/lib/ui-calendar/calendar.js"></script>

<!-- utilities-->
<script type="application/javascript" src="/lib/wizard/angular-wizard.js"></script>
<!------------->
<!--  angular-->
<!------------->

<!-- app-->
<script type="application/javascript" src="/app.js"></script>


<script type="application/javascript" src="/homeController.js"></script>

<!-- services-->
<script type="application/javascript" src="/modules/users/services/usr_authService.js"></script>
<script type="application/javascript" src="/modules/resources/services/rsc_resourceTaxonomyService.js"></script>
<script type="application/javascript" src="/modules/resources/services/rsc_geocodeService.js"></script>

<!-- controllers-->
<script type="application/javascript" src="/modules/users/controllers/usr_loginController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_registerController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_editProfileController.js"></script>
<script type="application/javascript" src="/modules/users/controllers/usr_logoutController.js"></script>
<script type="application/javascript" src="/modules/resources/controllers/rsc_searchController.js"></script>
<script type="application/javascript" src="/modules/resources/controllers/rsc_createReportController.js"></script>
<script type="application/javascript" src="/modules/resources/controllers/rsc_resourceController.js"></script>
<script type="application/javascript" src="/modules/resources/controllers/rsc_locationController.js"></script>
<script type="application/javascript" src="/modules/resources/controllers/rsc_mapController.js"></script>
<script type="application/javascript" src="/modules/resources/controllers/rsc_scheduleController.js"></script>

<!-- admin controllers-->
<script type="application/javascript" src="/modules/admin/controllers/adm_manageDataController.js"></script>
<script type="application/javascript" src="/modules/admin/controllers/adm_manageUsersController.js"></script>
<!-- directives-->
<script type="application/javascript" src="/modules/resources/directives/rsc_createAgreementDirective.js"></script>
<script type="application/javascript" src="/modules/resources/directives/rsc_createInstructionsDirective.js"></script>

<script type="application/javascript" src="/modules/resources/directives/rsc_mapConfirmDirective.js"></script>

<script type="application/javascript" src="/modules/resources/directives/rsc_taxonomyGeneralDirective.js"></script>
<script type="application/javascript" src="/modules/resources/directives/rsc_taxonomyDetailsDirective.js"></script>


<script type="application/javascript" src="/modules/resources/directives/rsc_taxonomyDetailsDirective.js"></script>


<script type="application/javascript" src="/modules/kropotkin/kropotkinController.js"></script>
<script type="application/javascript" src="/modules/kropotkin/kropotkinDirective.js"></script>
<script type="application/javascript" src="/modules/kropotkin/kropotkinService.js"></script>




</body>
</html>