<table>
    <tr ng-repeat="event in eventSources">
        <td ng-if="!event.repeating"> <strong> Date: </strong> {{event.start | date: 'longDate' }} </td>
        <td ng-if="event.repeating"> <strong> Repeats: </strong> Every {{event.start | date: 'EEEE' }} </td>
        <td> <strong> Start: </strong> {{event.start | date: 'hh:mm a' }}</td>
        <td> <strong> End: </strong> {{event.end | date: 'hh:mm a'}}</td>
    </tr>
</table>

<button type="button" class="btn btn-default"  ng-click="time.isScheduleSet=false">Edit</button>
