<body bgcolor=white>
It seems very likely that, as soon as expropriation is fairly started,
groups of volunteers will spring up in every district, street and block of houses,
and undertake to inquire into the number of flats and houses which are empty and of those
which are empty and of those which are overcrowded, the unwholesome slums, and the houses
which are too spacious for their occupants and might well be used to house those
who are stifled in swarming tenements.  In a few days these volunteers would have drawn up
complete lists for the street and the district of all the flats, tenements, family mansions and villa
residences, all the rooms and suites of rooms, healthy and unhealthy, small and large, foetid dens
and homes of luxury.<p>
<p>

    Freely communicating with each other, these volunteers would soon have their statistics complete.
    False statistics can be manufactured in board rooms and offices, but true and exact statistics
    must begin with the individual and mount up from the simple to the complex.<p>
<p>
    Then, without waiting for anyone's leave, those citizens will probably go and find their comrades
    who were living in miserable garrets and hovels and will say to them simply: 'It is a real revolution
    this time, comrades, and make no mistake about it.  Come to such a place this evening; all the neighborhood
    will be there; we are going to redistribute the dwelling-houses.  If you are tired of your slum-garret,
    come and choose one of the flats of five rooms that are to be disposed of, and when you have once
    moved in you shall stay, never fear.  The people are up in arms, and he who would
    venture to evict you will have to answer to them.' <p>
<p>
    Prince Peter Kropotkin, <u>The Conquest of Bread</u>, Chapter 6:  Dwellings.
<p>
<p>

