doctype html
html(ng-app='guttersnipe')
   head
      link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
      link(rel="stylesheet"  href="/css/bootstrap.css")
      link(rel="stylesheet"  href="/css/leaflet.css")
      link(rel="stylesheet"  href="/css/style.css")
   body
      block main-content
      include scripts