doctype html
html
   head
      link(rel="stylesheet"  href="/css/bootstrap.css")
      link(rel="stylesheet"  href="/css/leaflet.css")
      link(rel="stylesheet"  href="/css/style.css")
   body(ng-app='guttersnipe')
      block main-content
      //include scripts