<div ng-controller="HeatMapMetricSelectorCtrl">
    <div class="label label-default">Metric</div>
    <div>
        <select class="form-control" ng-model="selectedMetric" ng-options="metric.id as metric.label for metric in metrics"></select>
    </div>
    <div>&nbsp;</div>
    <div class="label label-default">Benchmark</div>
    <div>
        <select class="form-control" ng-model="selectedBenchmarkCategory" ng-options="cat.id as cat.label for cat in benchmarkCategories"></select>
    </div>
</div>
