<div class="container-fluid">
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row">
        <div class="col-xs-6 col-md-2">Headline<gut-resource-headline></gut-resource-headline></gut-resource-headline></div>
        <div class="col-xs-6 col-md-2">Thing<gut-thing-confirmed></gut-thing-confirmed></div>
        <div class="col-xs-6 col-md-2">Place<gut-place-confirmed></gut-place-confirmed></div>
        <div class="col-xs-6 col-md-2">Time<gut-time-confirmed></gut-time-confirmed></div>
        <div class="col-xs-6 col-md-2">Notes <gut-resource-notes></gut-resource-notes></div>
    </div>
</div>