<section data-ng-controller="ResourcesController">
    <div class="page-header">
        <h1>Create New Resource</h1>
    </div>

    <div class="col-md-12">
        <div ng-hide="resource.createAgreed">
            <div class="jumbotron BlackOnRed">
                <h2> Agree </h2>
                <resource-create-agreement></resource-create-agreement>
            </div>
        </div>
        <div ng-show="resource.createAgreed">
            <form name="resourceForm" class="form-horizontal" data-ng-submit="create()" novalidate>

                <div class="jumbotron RedOnBlack">
                    <h2>Learn</h2>
                    <resource-create-instructions></resource-create-instructions>
                </div>

                <div class="jumbotron BlackOnRed">
                    <h2> Describe </h2>
                    <thing-create-description thing="resource.thing"></thing-create-description>
                </div>

                <div class="jumbotron RedOnBlack">
                    <h2>Classify</h2>
                    <thing-create-classification thing="resource.thing"></thing-create-classification>
                </div>

                <div class="jumbotron BlackOnRed">
                    <h2>Map</h2>
                    <map-master place="resource.place"></map-master>
                </div>

                <div class="jumbotron RedOnBlack">
                    <h2>Schedule</h2>
                    <schedule-master time="resource.time"></schedule-master>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create Resource" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </form>
        </div>
    </div>

</section>