<section data-ng-controller="ResourcesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Resources</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="resource in resources"  class="list-group-item">
            <gut-resource-li></gut-resource-li>
            <small class="list-group-item-text">
                Created by
                <span data-ng-bind="resource.created | date:'medium'"></span>
                by
                <span data-ng-bind="resource.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="resource.name"></h4>
            </a>
        </div>


        <section data-ng-controller="ResourcesController">
            <h2> Filter Resources by </h2>
            <tabset>
                <tab heading="Thing" >
                    Thing
                    <thing-find></thing-find>

                </tab>
                <tab heading="Place" >
                    Place
                    <place-find></place-find>
                </tab>
                <tab heading="Time" >
                    Time
                    <time-find></time-find>
                </tab>
            </tabset>

        </section>

        <section data-ng-controller="ResourcesController">
            <h2> Display Results as </h2>
            <tabset>
                <tab heading="List" >List
                    <thing-results></thing-results>
                </tab>
                <tab heading="Map" >
                    Map
                    <place-results></place-results>
                </tab>
                <tab heading="Calendar" >
                    Calendar
                    <place-results></place-results>
                </tab>
                <tab heading="Calendar">
                    <a href="#"> Calendar </a>
                    <time-results></time-results>
                </li>
            </tabset>
        </section>

        <div class="alert alert-warning text-center" data-ng-hide="!resources.$resolved || resources.length">
            No Resources yet, why don't you <a href="/#/resources/create">create one</a>?
        </div>
</section>


