<div>
    <div class="agreement-div jumbotron">
        Through your usage of Guttersnipe, you agree to not put yourself or any other person in legal jeopardy.
        <div class="text-center">
            <button type="button" class="btn btn-danger" ng-click="resource.createAgreed=false">Negate </span></button>

            <button type="button" class="btn btn-success" ng-click="resource.createAgreed=true">Consent </span></button>
        </div>
    </div>
    <div class="text-center">
        <del> <em><small>You are free to use Guttersnipe as you wish.</small></em></del>
    </div>
</div>