<div id="instruction-summary" class="jumbotron">
    Resource = Thing + Place + Time
</div>
<div class="jumbotron">
    Example:  Free meal in Prospect Park every Wednesday from 4PM to 9PM
</div>


<div class="jumbotron">
    <p> To report a Resource on Guttersnipe, please do the following:</p>
    <ol>
        <li> Describe Resource
        <li> Map Place</li>
        <li> Schedule Time</li>
        <li> Confirm Resource Report</li>
    </ol>
</div>
<a type="button" class="btn btn-default" ui-sref="resources_wizard.thing">Resource Create Wizard </span></a>
<a type="button" class="btn btn-default" ui-sref="create-resource">One Page Create </span></a>
