// SASS style sheet */
// Palette color codes */
// Feel free to copy&paste color codes to your application */
// As hex codes */
$color-primary-0: #516756; // Main Primary color */
$color-primary-1: #D4E8D9;
$color-primary-2: #6DA078;
$color-primary-3: #273C2C;
$color-primary-4: #15371D;
$color-secondary-1-0: #435154; // Main Secondary color (1) */
$color-secondary-1-1: #C9D8DB;
$color-secondary-1-2: #5A7C82;
$color-secondary-1-3: #202E31;
$color-secondary-1-4: #12292D;
$color-secondary-2-0: #747E63; // Main Secondary color (2) */
$color-secondary-2-1: #F0F8E3;
$color-secondary-2-2: #ACC386;
$color-secondary-2-3: #404930;
$color-secondary-2-4: #33431A;
$color-complement-0: #886E6B; // Main Complement color */
$color-complement-1: #FFEBE9;
$color-complement-2: #D39791;
$color-complement-3: #4F3734;
$color-complement-4: #49201C;
$pop-color: #D83636;
#app {
  background-color: $color-primary-3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gs-navbar {
  margin: 20px;
  text-align: center;
  vertical-align: middle;
}
.strummer-quote {
  background-color: $color-primary-2;
  a {
    color: $color-complement-4;
  }
}
.header {
  background-color: $color-complement-4;
  color: $color-secondary-2-4;
  a {
    color: $color-primary-1;
  }

}


ul.navbar-nav li a {
  color: $color-primary-1;
  font-weight: bolder;
  font-size: 250%;
  margin: 10px;
}
#footer {
  background-color: $color-secondary-2-4;
  color: white;
  font-weight: bolder;
  ul {
    width: 100%;
  }
  li {
    width: 25%;
    color: white;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;

  }
}

#negate-button {
  background-color: red;
  color: white;
  font-weight: 900;
}


#consent-button {
  background-color: green;
  color: white;
  font-weight: 900;
}

/* Panel */
#consent-for-create-panel{
  background-color: $color-secondary-1-3;
  #agreement-div {
    background-color: $color-secondary-1-1;
  }
}
#instructions-for-create-panel {
  background-color: $color-secondary-2-3;
  #instruction-summary {
    background-color: $color-secondary-2-2;
    .jumbotron {
      background-color: $color-secondary-2-1;

    }
  }
}
#space-search-panel {}
#event-calendar-view {
  margin: 0 auto;
  display: table;
}
.time-search-panel {}
.thing-search {}

.create-wizard-panel {
  width: 85%;
  margin: auto;
}

#shareable-create-start-panel {
  @extend .create-wizard-panel;
  background-color: $color-secondary-2-2;
}

#time-create-panel {
  @extend .create-wizard-panel;
  background-color: $color-secondary-1-1;
}
.thing-create-panel  {
  @extend .create-wizard-panel;
  background-color: $color-primary-1;
}
.space-create-panel {
  @extend .create-wizard-panel;
  text-align: center;
  background-color: $color-secondary-2-2;
}

#front-pg {
  background-color: $color-primary-3;
}
#front-page-panel {
  background-color: $color-secondary-1-2;
  ul {
    background-color: $color-secondary-1-1;
    li {
      a {
        color: $color-complement-3;
      }
    }
  }
}
/* Pages */
.gutterPage {}
.front-pg {}
#welcome-pg {}
#all-shareables-pg {
  background-color: $color-secondary-1-1;
}
#shareable-search-pg {
  background-color: $color-secondary-1-1;
}
#shareable-create-wizard-pg {}
#shareable-edit-page {}
#shareable-full-page {}

/* Buttons */

/* Widgets */

/* Tabs */
#all-shareables-calendar-tab {}
#all-shareables-list-tab {}
#all-shareables-map-tab {}

/*  Forms */
.gutterForm {}
#signup-panel {
  background-color: $color-secondary-2-2;
}
#signup-form {
    background-color: $color-secondary-1-1;
}
#signout {
    background-color: $color-secondary-2-1;
}
#signup-form {}
.shareable-create-wizard-form {}
.thing-create-form {}
.time-create-form {}
.time-full {
  background-color: $color-secondary-1-1;
  text-align: center;
  height: 25%;
}

/* Form Elements */
.form-component-field {}
.form-html-input {}

/* Components */
#shareable-create-start {}
.map-with-geocoder-input {
  margin: auto;
}

#shareable-create-end {
  background-color: $color-primary-2;
}

.leaflet-pelias-result {
  text-align: left;
}
#space-create {}
#space-full {
  height: 25%;
  background-color: $color-secondary-2-1;
}
#kropotkin-quote-outer {
  border: 20px;
  margin: 20px;
  padding: 20px;
  background-color: $color-primary-2;
  #kropotkin-quote-inner {
    background-color: $color-primary-1;
    color: $color-complement-4;
    width: 85%;
    border: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    vertical-align: middle;
  }
  #kropotkin-source {
    text-align: center;
    color: white;
    border: 10px;
    margin: 10px;
    padding: 20px;
    a {
      color: $color-complement-4 !important;
    }
    .kropotkin-quote-button {
      margin: 30px;
      border: 20px;
      padding: 20px;
    }
  }
}

.navbar-brand > a {
  background-color: transparent;
}
.logo-container {
  background-color: transparent;
  width: 35%
}
.logo-img {
  left: 0;
  width:25%;
  vertical-align: top;
  background-color: transparent;
}
.mission-panel {
  background-color: $color-primary-4;
  text-align: center;
}
#create-shareable-submit-btn{
  border: 20px;
  margin: 20px;
}
#shareable-full {}
.thing-full {
  height: 25%;
  background-color: $color-secondary-1-1;

}
.calendar {
  width: 85%;
  height: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: scroll;
}

.leaflet-container {
  height: 400px;
  width: 80%;
}

.result-address {
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.wizard-navigation-buttons {
  text-align: center;
  button {
    margin-left: 5px;
    margin-right: 5px;
  }
}

/* Lists && Tables */
.space-li {}
.shareable-li {}
.thing-li {}
.time-li {}
.date-listing {
  border: 1px black !important;
  table, th, thead, tr, td {
    border: 1px solid black !important;
  }
}

/* comments */
.comment-full {}
.comment-list {}

/* modals */
.modal-header {}
.modal-title .modal-body {}
.modal-footer {}

#piaf-img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

video {
  background-color: red;
}

.RedOnBlack {
  background-color: black ;
  color: red ;
  border: 5px solid darkred;
  a {
    color: red ;
    background-color: black ;

    :hover {
      color: #ff5555 ;
      background-color: black ;
    }
  }

}
.BlackOnRed {
  background-color: red !important;
  color: #222222 !important;
  border: 5px solid rgb(182,183,187);
  a {
    color: black !important;
    background-color: red !important;
  }
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

#react-paginate .break a {
    cursor: default;
}

#pagination-container {
  text-align: center;
}
