<h2>home</h2>
leaflet


<form>
    Latitude : <input type="number" step="any" ng-model="center.lat">
    Longitude : <input type="number" step="any" ng-model="center.lng">
    Zoom : <input type="number" step="any" ng-model="center.zoom">
</form>
<leaflet center="center" markers="markers" center="osloCenter" defaults="defaults" width="640px" height="480px"></leaflet>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="resources_wizard.type" class="btn btn-block btn-info">
            Resource Type <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>