<div class="modal-header">
    <button type="button" class="close" ng-click="cancelSchedule($event)">&times;</button>
    <h2 class="modal-title" id="deployModalLabel">Choose Schedule</h2>
</div>
<div class="modal-body">
    <ng-form id="scheduleForm" name="scheduleForm">
        <div>
            <div class="checkbox">
                <h3>  <label>
                    <input type="checkbox" ng-model="event.repeating">  Repeating Event
                </label> </h3>
            </div>
        </div>
        <div>
            <h2>    Event occurs
                <span ng-hide="event.repeating"> on {{event.start | date: 'fullDate'}} </span>
                <span ng-show="event.repeating"> every {{ event.start | date: 'EEEE'}}</span>
            </h2>
            <h4>    Start Time </h4>
            <timepicker ng-model="event.start" hour-step=1 minute-step=30></timepicker>
            <h4>    Duration </h4>
            <timepicker ng-model="event.end" hour-step=1 minute-step=30></timepicker>
        </div>
    </ng-form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelSchedule($event)">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="invalidTimes()" ng-click="addSchedule($event, event)">OK</button>
</div>
