<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Time</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="schedule in resource.time.schedules">
                {{schedule.recurrenceType}} {{schedule.recurringDay}} at {{schedule.startTime}}
            </li>
        </ul>
<!--
        time : {
        schedules : [{recurringDay: 'mon', recurrenceType: 'A', startTime: 2045,duration: 120},
        {recurringDay: 'tue', recurrenceType: 'A', startTime: 2045,duration: 120},
        {recurringDay: 'wed', recurrenceType: 'A', startTime: 2045,duration: 120},
        {recurringDay: 'thu', recurrenceType: 'A', startTime: 2045,duration: 120},
        {recurringDay: 'fri', recurrenceType: 'A', startTime: 2045,duration: 120},
        {recurringDay: 'sun', recurrenceType: 'A', startTime: 2045,duration: 120}],
        notes:'8:45 when all the employees leave the store. Trash is collected between 10:30 p and 12:30a. One source says nothing is out on Saturdays.'
-->
    </div>
</div>