<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Time</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="schedule in time.schedules">
                <div ng-if="schedule.recurrenceType">
                    start: {{schedule.start}} <br />
                    end: {{schedule.end}} <br />
                    Every {{schedule.start | date : 'EEEE'}}  from  {{schedule.start | date: 'shortTime'}}
                    to {{schedule.end  | date : 'EEEE'}}  from  {{schedule.end | date: 'shortTime'}}
                </div>
                <div ng-if="!schedule.recurrenceType">
                    start: {{schedule.start}} <br />
                    end: {{schedule.end}} <br />
                    From {{schedule.start | date: 'medium'}} to {{schedule.end | date: 'medium'}}
                </div>
            </li>
        </ul>
    </div>
</div>
