<div class="modal-header">
    <button type="button" class="close" ng-click="cancelSchedule($event)">&times;</button>
    <h2 class="modal-title" id="deployModalLabel">Choose Schedule</h2>
</div>
<div class="modal-body">
    <ng-form id="scheduleForm" name="scheduleForm">
        <div>
            <h3>Recurring Event</h3>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="gutEventrepeating"> Event Repeats every {{ start | date: 'EEEE'}}
                </label>
            </div>
        </div>
        <div>
            <h2>    Event occurs on {{event.start | date: 'fullDate'}}</h2>
            <h4>    Start Time </h4>
            <timepicker ng-model="gutEvent.start" ng-change="updateEnd(gutEvent.start)" hour-step=1 minute-step=30></timepicker>
            <h4>    End Time </h4>
            <timepicker ng-model="gutEvent.end" hour-step=1 minute-step=30></timepicker>
        </div>
    </ng-form>

    <div>
        <h2>Schedule:  </h2>
        <div ng-if="eventSources.length<1">
            None
        </div>
        <h4>Event sources are {{eventSources}}</h4>
        <div ng-if="eventSources.length>0">
            <ul>
                <li ng-repeat="e in eventSources">
                    New Event!!!
                    <ol>
                        <ul>Start:  {{e.start}}</ul>
                        <ul>End:  {{e.end}}</ul>
                        <ul>Repeating: {{e.end}}</ul>
                    </ol>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelSchedule($event)">Cancel</button>
    <button type="button" class="btn btn-primary" ng-disabled="invalidTimes()" ng-click="addSchedule($event, gutEvent)">OK</button>
</div>
