<div class="nova-infobar" affix="35">
    <ul class="nova-secondary-nav nav-pills nav">
        <li class="dropdown" ng-repeat="child in categoryLink.children" ng-class="{active: child.active}">
            <a ng-href="{{child.path}}"><span ng-bind="child.name"></span></a>
        </li>
    </ul>
</div>

<div class="nova-content">
    <!-- Selectors for Reports and Organizations -->
    <div class="row">
        <form name="deploymentForm" novalidate="true">
            <div  class="col-md-4" >
                <h2>REPORTS</h2>
                <label for="standardReportSelector">Standard Reports</label>
                <select multiple ng-multiple="true"
                        id="standardReportSelector"
                        ng-model="selectedStandardReports"
                        class="form-control" size="10"
                        ng-options="rpt.name for rpt in allStandardReports"
                        required>
                </select>
                <br />

                <label for="customReportSelector">Custom Reports</label>
                <select multiple ng-multiple="true"
                        id="customReportSelector"
                        ng-model="selectedCustomReports"
                        class="form-control" size="10"
                        ng-options="rpt.name for rpt in allCustomReports"
                        required>
                </select>


            </div>

            <div  class="col-md-4">
                <h2>ORGANIZATIONS</h2>
                <label for="organizationSelector">Organizations</label>
                <select  multiple ng-multiple="true"
                         id="organizationSelector"
                         class="form-control" size="10"
                         ng-model="selectedOrganizations"
                         ng-options="org.name for org in allOrganizations"
                         required>
                </select>
            </div>

            <!-- Buttons for Deploy and Reset -->
            <div  class="col-md-1 form-group" >
                <br /><br />
                <button class="btn btn-default btn-md" type="button" ng-disabled="selectionsInvalid()"  ng-click="showDeploy($event)">Deploy</button>
                <br /> <br />
                <button class="btn btn-default btn-md" type="button" ng-click="resetSelectors($event)">&nbsp;Reset&nbsp;</button>
            </div>

        </form>
    </div>

    <!-- Confirm Deployment Dialog -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deployModalLabel" modal-show="showDeployModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelDeploy($event)">&times;</button>
                    <h2 class="modal-title" id="deployModalLabel">Confirm Deployment</h2>
                </div>

                <div class="modal-body">
                    <div name="deployedReports">
                        <h3>Deploy the following reports:</h3>
                        <ul>
                            <li><h4>STANDARD</h4>
                                <ul>
                                    <li ng-repeat="report in selectedStandardReports">
                                        {{report.name}}
                                    </li>
                                </ul>
                            </li>

                            <li><h4>CUSTOM</h4>
                                <ul>
                                    <li ng-repeat="report in selectedCustomReports">
                                        {{report.name}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div name="deployedOrganizations">
                        <h3>To the following organizations:</h3>
                        <ul>
                            <li ng-repeat="organization in selectedOrganizations">
                                {{organization.name}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancelDeploy($event)">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-disabled="deployForm.$invalid" ng-click="deploy($event, deployForm)">OK</button>
                </div>

            </div>
        </div>
    </div>



    <!-- Deployment Success Dialog -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deploySuccessLabel" modal-show="showSuccessModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="deploySuccessLabel">Success!</h2>
                </div>

                <div class="modal-body">
                    Your reports successfully deployed!
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="hideSuccessModal($event)">OK</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Deployment Failure Dialog -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deployErrorLabel" modal-show="showErrorModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title" id="deployErrorLabel">Error</h2>
                </div>

                <div class="modal-body">
                    Not all reports deployed successfully
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="hideErrorModal($event)">OK</button>
                </div>

            </div>
        </div>
    </div>











</div>
