<div>

<!-- INPUT -->
    <div ng-show="!isDescriptionSet">
        <div>
            <ng-form role="form" name="summaryForm" novalidate>
                <div class="form-group">
                    <label for="headline">Headline</label>
                    <input id="headline" ng-model="thing.description.headline" type="text" class="form-control"  placeholder="Short explanation" ng-maxlength="128" ng-required="true">
                    <p ng-show="!thing.description.headline" class="help-block">You must provide a headline.</p>
                </div>
                <div class="form-group">
                    <label for="description">Summary</label>
                    <textarea rows="5" ng-model="thing.description.summary" id="description" type="text" class="form-control" placeholder="Describe Resource" ng-maxlength="5000" ng-required="true"></textarea>
                <p ng-show="!thing.description.summary" class="help-block">You must provide a summary.</p>
                </div>
                <div class="form-group">
                    <label for="method">Method of Accesss</label>
                    <textarea rows="3" ng-model="thing.description.method" id="method" type="text" class="form-control" placeholder="Describe Resource" ng-maxlength="500"></textarea>
                </div>
                <div class="form-group">
                    <label for="notes">Additional Notes:</label>
                    <textarea rows="3" ng-model="thing.description.notes" id="notes" type="text" class="form-control" placeholder="Describe Resource" ng-maxlength="500"></textarea>
                </div>
                <button type="button" class="btn btn-default" ng-disabled="!(thing.description.headline) || !(thing.description.summary)" ng-click="isDescriptionSet=true">OK</button>
            </ng-form>
        </div>
    </div>

<!-- CONFIRMED -->
    <div ng-show="isDescriptionSet">
        <div>
            <div>
                <h2> Headline </h2> {{thing.description.headline}}
                </div>
            <div>
                <h2> Summary </h2> {{thing.description.summary}}
            </div>
            <div ng-show="!!thing.description.method">
                <h2> Method </h2> {{thing.description.method}}
            </div>
            <div ng-show="!!thing.description.notes">
                <h2> Notes: </h2> {{thing.description.notes}}
            </div>
            <button type="button" class="btn btn-warning" ng-click="isDescriptionSet=false">Edit</button>
        </div>
    </div>
</div>