<div ng-controller="ThingsController">
    <div ng-show="!type">
        <br />
        <ng-form>
            <h3>Choose a resource type:</h3>
            <ul class="nav nav-pills nav-stacked center ">
                <li ng-repeat="class in taxonomy">
                    <resource-taxon ng-click="setType(class.type)" name="{{class.type}}"></resource-taxon>
                </li>
            </ul>
        </ng-form>
    </div>

    <div ng-show="type">
        <div>
            <h2>Subtypes</h2>
            <div class="row">
                <div class="col-md-6">
                    <subtypes-input subtypes="choices" addedArray="chosen"
                                    ng-click="addSubtype()" /></div>
                <div class="col-md-6">
                    <subtypes-result subtypes="chosen" removeMethod="removeMethod()" /></div>
            </div>
        </div>

        <details-panel details="thing.details"></details-panel>
    </div>
</div>