<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thing</h3>
    </div>
    <div class="panel-body">
        <h3> Description </h3>
        <blockquote>
            {{thing.description.summary}}
        </blockquote>
        <br />
        <h3> Type </h3>
        <blockquote> {{thing.taxonomy.type}} </blockquote> <br />

        <dl ng-show="thing.taxonomy.subtypes.length > 0">
            <h3>Subtypes</h3>
            <li ng-repeat="subtype in thing.taxonomy.subtypes">
                {{subtype}}
            </li>
        </dl>

        <dl ng-show="thing.summary.details.length > 0">
            <h3>Details</h3>
            <li ng-repeat="detail in thing.summary.details">
                {{detail}}
            </li>
        </dl>
        <br />
        <div ng-show="thing.description.method">
            <h3 >How to Access: </h3>
            <blockquote> {{thing.description.method}}</blockquote>
        </div>
        <br />
        <div ng-show="thing.description.notes">
            <h3 >Notes: </h3>
            <blockquote> {{thing.description.notes}}</blockquote>
        </div>
        <br />
    </div>
</div>
