html, body {

  width: 100%;
  height: 100%;
  min-height: 100%;

  }

#main{
  height:90%;
  min-height: 90%;
   width: 100%;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;

   }

#main > article {
   width: 80%;
   height: 89%;
   padding: 2%;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }

#main > article > .ui-view-container {

    width: 100%;
    height: 100%;

    }

#main > nav {
    height: 100%;
    background: #171616;
    padding: 25px 0 0 0;
   -webkit-flex: 0 3 15%;
           flex: 0 3 15%;
   -webkit-order: 1;
           order: 1;
   }

   #main > nav  a {
     display: block;
     line-height: 40px;
     border-right: 4px solid transparent;
     cursor: pointer;
     color: #808080;
     padding: 0 0 0 30px;
     font-weight: 600;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 1px;
   }

   #main > nav  a:hover,
   #main > nav  a.current {
     background-color: #212a31;
     border-right-color: #2ecc71;

     color: #FFFFFF;
   }



header {
   display: block;
   padding: 0.7%;
   height: 7%;
   min-height: 7%;
   background: #171616;


   }

 /* footer {

   display: block;
   padding-left: 40%;
   color: #FFF;
   height:3%;
   min-height: 3%;
   background: #171616;
}
*/




.form-field-container{
    display: -webkit-flex;
    display: flex;
    width : 100%;
    flex-flow: column;
    align-items: center;
}
/* Radio buttons */



  .form-radio{
    width: 60%;
    margin-left: 2%;
    display: -webkit-flex;
    display: flex;
    flex-direction:row;
    justify-content: space-between;


}

.form-button button{
      width: 70%;


}

.index-button{

    display: -webkit-flex;
     display: flex;

    width: 100%;

    flex-flow: row;
    justify-content: space-between ;
	-webkit-justify-content: space-between;


}

.required:after {
 content:"*";
 font-family: "Open Sans";


}

/* Angular grid */

.ag-fresh {
    height: 90%;
  }


  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {

   #main{
    -webkit-flex-flow: column;
            flex-direction: column;
            height: 100%;
   }

   #main > article, #main > nav {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }

   #main > nav {
     min-height: 40%;
     max-height: 40%;

   }

/*   footer {
   display: flex;
   display: -webkit-flex;
   max-height: 1%;
  } */

   #main > nav  a {

       display: block;
       line-height: 15%;
       border-right: 4px solid transparent;
       cursor: pointer;
       color: #808080;
       padding: 0 0 0 30px;
       font-weight: 600;
       text-transform: uppercase;
       text-decoration: none;
       letter-spacing: 1px;

   }
  }
