body, div, td {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; 
}


/*-------------------------------------------
    Secondary: Colors
-------------------------------------------*/

a,
.st-ul li.st-current,
.st-ul li.st-current:hover,
.sidebar-footer .widget-info p a.mailto,
fieldset legend {
  color: #6ddc77;
}


/*-------------------------------------------
    Secondary: Backgrounds
-------------------------------------------*/

.projects-term-title h1:before,
input[type="button"],
input[type="submit"],
#copyrights-holder,
ul.menu > li > a:hover,
ul.menu > li.hover-has-ul > a,
ul.menu ul li:hover,
ul.menu-2 > li > a:hover,
ul.menu-2 > li.hover-has-ul > a,
ul.menu-2 ul li:hover,
.term-title h1:before,
a.button,
.toggle-closed .toggle-title span,
.pricing-table-featured .pricing-table-title,
.pricing-table-featured .pricing-table-price,
.pricing-table-featured .button,
.skill-bar,
.st-gallery ol li.st-gallery-tab-current,
a.more-link,
#layout .mejs-time-current,
#layout .mejs-horizontal-volume-current,
.tagcloud a,
.widget_custom_menu > li > a:hover,
.widget_custom_menu > li.wHover,
#sidebar .widget-posts,
.widget-posts-icon:hover,
#sidebar .sharrre .count,
#layout .mejs-time-loaded,
#sidebar .widget_search {
  background-color: #6ddc77;
}


/*-------------------------------------------
    Secondary: Border-top color
-------------------------------------------*/

fieldset,
#menuByClick > ul,
.st-ul li.st-current,
.st-ul li.st-current:hover,
#sidebar .sharrre .count:before,
#sidebar .sharrre .count:after {
  border-top-color: #6ddc77;
}


/*-------------------------------------------
    Secondary: Border-right color
-------------------------------------------*/

fieldset {
  border-right-color: #6ddc77;
}


/*-------------------------------------------
    Secondary: Border-bottom color
-------------------------------------------*/

fieldset {
  border-bottom-color: #6ddc77;
}


/*-------------------------------------------
    Secondary: Border-left color
-------------------------------------------*/

fieldset {
  border-left-color: #6ddc77;
}


