{% extends "base.html" %}
{% import "paginate_macros.html" as paginate %}


{% block title %}
Thermos -- Bookmarks for user {{ user.username }}
{%  endblock %}

{% block content %}
    <article>
        <header>
             <h1>Bookmarks for {{ user.username }}</h1>

            {% if bookmarks|length > 0 %}
                {% include "bookmark_list.html" %}
            {% else %}
                This user has not added any bookmarks yet.
            {% endif %}

        </header>

    </article>
{% endblock %}
