html, body {
    height: 100%;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%
}

#info img {
    float: left;
    margin-right: 10px;
}

#info {
    width: 350px;
}

#info h2 {
    margin-top: 0;
}