<wizard on-finish="finishedWizard()">

    <wz-step title="Starting">
        <h1>Enter Location</h1>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location"
                   placeholder="Address of {{ resourceType }}">
        </div>
        <div class="instructionHdr">
            Enter Address of {{resourceType}}
        </div>

        <ol class="instructionBdy">
            <li class="instruction">Enter address as exactly as you can.</li>
            <li class="instruction">You will be asked to confirm this location on a map</li>
        </ol>

        <input type="submit" wz-next-value="Confirm on Map" />
    </wz-step>

    <wz-step class="" title="Confirm on Map">
        <input type="submit" wz-next-value="Type of Resource">
    </wz-step>

    <wz-step class="" title="Type of Resource">
        <select class="">
            <option>ResourceIcon ResourceName</option>
        </select>
        <input type="submit" wz-next-value="Resource Description">
    </wz-step>
    <wz-step class="" title="Describe Resource">
        <div class="{{resourceType}}-description-pane"></div>
        <input type="submit" wz-next-value="Best Schedule">
    </wz-step>
    <wz-step class="" title="Best Times for Pickup">
        <div class="{{resourceType}}-description-pane"></div>
        <input type="submit" wz-next-value="Confirm Details">
    </wz-step>
    <wz-step class="" title="Confirm Description">
        <div class="confirm-description"></div>
        <input type="submit" wz-next-value="Submit">
    </wz-step>


</wizard>
