<ng-form>

    <!-- Type Chooser -->
    <div ng-show="!type && !confirmations.isCreateClassificationConfirmed">
        <ng-form>
            <h3>Choose a resource type:</h3>
            <ul class="nav nav-stacked center nav-justified ">
                <li ng-repeat="class in taxonomy">
                    <resource-taxon name="{{class.type}}"
                                    ng-click="setType(name)" />
                </li>
            </ul>
        </ng-form>
    </div>

    <div ng-show="type" class="panel panel-default">
        <div class="panel-heading"><h3>Type</h3></div>
        <div class="panel-body"><h2>{{type}}</h2></div>
        <button type="button" ng-show="!confirmations.isCreateClassificationConfirmed"
                class="btn btn-lg btn-danger" ng-click="unsetType()">Edit</button>
    </div>


    <!-- Subtype Panel -->
    <div ng-show="type" class="panel panel-default">
        <ng-form>
            <div class="panel-heading"><h3>Subtypes</h3></div>
            <div class="panel-body">
                <div class="row">

                    <!-- Subtype Inputs -->
                    <div ng-hide="isTaxonomySet || confirmations.isCreateClassificationConfirmed" class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Available Subtypes</div>
                            <ul>
                                <li ng-repeat="subtype in subtypeChoices">
                                    <subtype name="subtype" class="tile-orange" ng-click=addSubtype(subtype)  />
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Subtype Results -->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Your Selections</div>
                            <div class="panel-body">
                                <div class=row ng-repeat="subtype in subtypeChosen">
                                    <subtype name="subtype" class="tile-blue"
                                             ng-click="removeSubtype(subtype)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>


    <!-- Detail Panel -->
    <div ng-show="type" class="panel panel-default">
        <ng-form>
            <div class="panel-heading"><h3>Details</h3></div>
            <div class="panel-body">
                <div class="row">

                    <!-- Detail Input -->
                    <div ng-hide="areDetailsSet || confirmations.isCreateClassificationConfirmed" class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Add a Detail</div>
                            <div class="panel-body">
                                <div>
                                    <ng-form role="form form-inline"
                                             name="DetailForm" novalidate>
                                        <input ng-model="detail" id="detail"
                                               type="text" class="form-control"
                                               placeholder="Add a detail" ng-maxlength="128"
                                               ng-required="true">
                                        <label for="detail">
            <span class="glyphicon glyphicon-plus"
                  aria-hidden="true"
                  ng-click="addDetail(detail) ; comment=''">
                                  </span> </label>
                                    </ng-form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Your Details</div>
                            <div class="panel-body">
                                <div class=row ng-repeat="detail in details">
                                    <subtype name="detail" class="tile-purple"
                                             ng-click="removeDetail(detail)" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>


    <div ng-show="type">
        <div ng-show="!confirmations.isCreateClassificationConfirmed">
            <button type="button" class="btn btn-lg btn-default" ng-disabled="!type" ng-click="confirmations.isCreateClassificationConfirmed=true">Confirm Classification</button>
        </div>
        <div ng-show="confirmations.isCreateClassificationConfirmed">
            <button type="button" class="btn btn-lg btn-danger" ng-disabled="!type" ng-click="confirmations.isCreateClassificationConfirmed=false">Edit Classification </button>
        </div>
    </div>

</ng-form>


