<div class="modal-header">
    <button type="button" class="close" ng-click="cancelSchedule($event)">&times;</button>
    <h2 class="modal-title" id="deployModalLabel">Choose Schedule</h2>
</div>
<div class="modal-body">
    <h4>    Seasonal Event starts on {{start | date: 'fullDate'}}</h4>
    <h2>    End Time </h2>
    <div style="display:inline-block; min-height:290px;">
        <datepicker ng-model="end" min-date="start" show-weeks="true" class="well well-sm"></datepicker>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancelSchedule($event)">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="confirmSchedule($event)">OK</button>
</div>