<div ng-controller="HeatMapColorRangeCtrl">
    <div class="label label-default">Metric to Benchmark Ratio</div>
    <div class="widget-normal">
      <div style="margin: 10px 0">
        <div slider min="min" max="max" range="{{true}}" values="values" step="steps"></div>
      </div>

      <div class="slider-values">
        <table>
          <tr><td>Below normal range (%):</td><td><input type="number" ng-model="values[0]"></td></tr>
          <tr><td>Above normal range (%):</td><td><input type="number" ng-model="values[1]"></td></tr>
        </table>
      </div>
    </div>
</div>