<div class="text-center">
    <ng-form>
        <h1>Food Details:</h1>
        <h2>Type</h2>
        <ul>
            <li ng-repeat="type in resourceDetails.type">
                <input type="checkbox" class="checkbox-inline">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{type.name}}
                </button>
            </li>
        </ul>
<h2>Produce</h2>
        <ul>
            <li ng-repeat="produce in resourceDetails.produce">
                <input type="checkbox" class="checkbox-inline">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{produce.name}}
                </button>
            </li>
        </ul>

<h2>Grains</h2>
        <ul>
            <li ng-repeat="grain in resourceDetails.grains">
                <input type="checkbox" class="checkbox-inline">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{grain.name}}
                </button>
            </li>
        </ul>

<h2>Protein</h2>
        <ul>
            <li ng-repeat="protein in resourceDetails.proteins">
                <input type="checkbox" class="checkbox-inline">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{protein.name}}
                </button>
            </li>
        </ul>

<h2>Dairy</h2>
        <ul>
            <li ng-repeat="dairy in resourceDetails.dairy">
                <input type="checkbox" class="checkbox-inline">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{dairy.name}}
                </button>
            </li>
        </ul>
    </ng-form>
</div>

<div class="text-center">
    <a ui-sref="resources_wizard.type" type="button" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"> Resource Type</a>
    <a ui-sref="resources_wizard.map" type="button" class="btn btn-default">Map Location</span></a>
</div>