<div class="jumbotron">
    <p> To announce a Resource on Guttersnipe, please do the following:</p>
    <ol>
        <li> Describe Resource
            <ol>
                <li> General Type (Food, Shelter, Medical) </li>
                <li> Resource Details </li>
            </ol>
        </li>
        <li> Enter Location</li>
        <li> Enter Schedule </li>
        <li> Confirm Resource Report</li>
    </ol>
</div>

<div class="text-center">
    <a ui-sref="resources_wizard.agreement" type="button" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span> Agreement </a>
    <a ui-sref="resources_wizard.type" type="button" class="btn btn-default">Resource Type <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>