<input type="text" class="form-control" placeholder="Text input">

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="resources_wizard.map" class="btn btn-block btn-info">
            Confirm on Map <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
        <script>
            var onSubmit = function onSubmit() {
                var result = get ("http://rpc.geocoder.us/service/csv?address=$addr");
            }

        </script>
