<h2>home</h2>


<form>
    Address of Resource : <input type="text" ng-model="inputAddress">
</form>
        <button class="btn btn-info" ng-click="locateAddress($event)"> Find Address </button>

{{inputAddress}}
<leaflet markers="markers" center="center" defaults="defaults" width="640px" height="480px"></leaflet>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="resources_wizard.type" class="btn btn-block btn-info">
            Resource Type <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>

<div>
    <a ui-sref="resources_wizard.details" type="button" class="btn btn-default">Resource Details</a>
    <a ui-sref="resources_wizard.time" type="button" class="btn btn-default">Availability Schedule</a>
</div>
