<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="resources_wizard.time" class="btn btn-block btn-info">
            Available Time <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>

<div>
    <a ui-sref="resources_wizard.type" type="button" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"> Resource Type </span></a>
    <a ui-sref="resources_wizard.map" type="button" class="btn btn-default">Map Location <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>
