<div>
    <ng-form>
        <!-- make this into a directive   <img class="img-responsive" ng-src="{{resourceTaxonomy.IMG_DIR}}{{type.img}}.svg" height="30px" > -->
        <h3>Choose a resource type:</h3>
        <ul class="nav nav-pills nav-stacked center ">
            <li ng-repeat="type in resourceTypes">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{type.name}}
                </button>
            </li>
        </ul>

    </ng-form>
</div>

<div class="text-center">
    <a ui-sref="resources_wizard.instructions" type="button" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span>Instructions</a>
    <a ui-sref="resources_wizard.details" type="button" class="btn btn-default">Resource Details<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
</div>

