<div class="nova-infobar" affix="35">
    <ul class="nova-secondary-nav nav-pills nav">
        <li class="dropdown" ng-repeat="child in categoryLink.children" ng-class="{active: child.active}">
            <a ng-href="{{child.path}}"><span ng-bind="child.name"></span></a>
        </li>
    </ul>
</div>

<div class="container" style="margin-top: 25px; margin-bottom: 30px;">
    <!-- Selectors for Reports and Organizations -->
    <p>Select one or more reports and one or more organizations then press deploy to deploy the selected report(s) to the selected organization(s).</p>
    <div class="row">
        <form name="deploymentForm" novalidate="true">
            <div  class="col-md-5" >
                <label for="standardReportSelector">Standard Reports</label>
                <select multiple ng-multiple="true"
                        id="standardReportSelector"
                        ng-model="selectedStandardReports"
                        class="form-control" size="10"
                        ng-options="rpt.name for rpt in allStandardReports"
                        required>
                </select>
                <br />

                <label for="customReportSelector">Custom Reports</label>
                <select multiple ng-multiple="true"
                        id="customReportSelector"
                        ng-model="selectedCustomReports"
                        class="form-control" size="10"
                        ng-options="rpt.name for rpt in allCustomReports"
                        required>
                </select>
            </div>

            <div class="col-md-5">
                <label for="organizationSelector">Organizations</label>
                <select  multiple ng-multiple="true"
                         id="organizationSelector"
                         class="form-control" size="10"
                         ng-model="selectedOrganizations"
                         ng-options="org.name for org in allOrganizations"
                         required>
                </select>
            </div>

            <!-- Buttons for Deploy and Reset -->
            <label>&nbsp;</label>
            <div  class="col-md-2 form-group" >
                <button class="btn btn-default btn-md" type="button" ng-disabled="selectionsInvalid()"  ng-click="showDeploy($event)">Deploy</button>
                <button class="btn btn-default btn-md" type="button" ng-click="resetSelectors($event)">&nbsp;Reset&nbsp;</button>
            </div>

        </form>
    </div>

    <br />
    <hr />
    <br />
    <div  class="col-md-4 form-group" >
        <button class="btn btn-default btn-lg" type="button"  ng-click="showCleanReports($event)">Clean Reports Database</button>
  </div>

    <!-- Confirm Deployment Dialog -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deployModalLabel" modal-show="showDeployModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancelDeploy($event)">&times;</button>
                    <h2 class="modal-title" id="deployModalLabel">Confirm Deployment</h2>
                </div>

                <div class="modal-body">
                    <div name="deployedReports">
                        <h3>Deploy the following reports:</h3>
                        <ul>
                            <li><h4>STANDARD</h4>
                                <ul>
                                    <li ng-repeat="report in selectedStandardReports">
                                        {{report.name}}
                                    </li>
                                </ul>
                            </li>

                            <li><h4>CUSTOM</h4>
                                <ul>
                                    <li ng-repeat="report in selectedCustomReports">
                                        {{report.name}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div name="deployedOrganizations">
                        <h3>To the following organizations:</h3>
                        <ul>
                            <li ng-repeat="organization in selectedOrganizations">
                                {{organization.name}}
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancelDeploy($event)">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-disabled="deployForm.$invalid" ng-click="deploy($event, deployForm)">OK</button>
                </div>

            </div>
        </div>
    </div>



    <!-- Deployment Success Dialog -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deploySuccessLabel" modal-show="showSuccessModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="deploySuccessLabel">Success!</h2>
                </div>

                <div class="modal-body">
                    Your reports successfully deployed!
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="hideSuccessModal($event)">OK</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Deployment Failure Dialog -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deployErrorLabel" modal-show="showErrorModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title" id="deployErrorLabel">Error</h2>
                </div>

                <div class="modal-body">
                    Not all reports deployed successfully
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="hideErrorModal($event)">OK</button>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Confirm CleanReports Dialog -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deployCleanReportsLabel" modal-show="showCleanReportsModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelCleanReports($event)">&times;</button>
                <h2 class="modal-title" id="deployCleanReportsLabel">Confirm Clean Database</h2>
            </div>
            <div class="modal-body">
                <h3> Do you want to clean the reports database now?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancelCleanReports($event)">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="cleanReports($event)">OK</button>
            </div>

        </div>
    </div>
</div>

<!-- should make directive -->
<!-- Clean CleanSuccess Dialog -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deployCleanSuccessLabel" modal-show="showCleanSuccessModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="deployCleanSuccessLabel">Success!</h2>
            </div>

            <div class="modal-body">
          Database Cleaned
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="hideCleanSuccessModal($event)">OK</button>
            </div>

        </div>
    </div>
</div>

<!-- Clean Failure Dialog -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cleanErrorLabel" modal-show="showCleanErrorModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" id="cleanErrorLabel">Error</h2>
            </div>

            <div class="modal-body">
                Did not clean database successfully
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="hideCleanErrorModal($event)">OK</button>
            </div>

        </div>
    </div>
</div>
</div>


