<div class="nova-infobar" affix="35">
    <ul class="nova-secondary-nav nav-pills nav">
        <li class="dropdown" ng-repeat="child in categoryLink.children" ng-class="{active: child.active}">
            <a ng-href="{{child.path}}"><span ng-bind="child.name"></span></a>
        </li>
    </ul>
</div>
<div class="container">
    <form class="form" style="margin-top: 10px;" name="EditCategories">
        <div class="form-group col-sm-12">
            <label class="control-label">Categories</label>
            <div>
                <table class="table table-bordered table-condensed">
                    <tr>
                        <td> Add new top-level category</td>

                        <td>   <a href="" ng-click="initiateNewCategory($event, 0)"><i class="fa fa-plus-square"></i></a>&nbsp;</td>
                    </tr>
                    <tr><td></td><td></td></tr>
                    <tr ng-repeat="cat in categories">
                        <td> <span style="margin-left: {{rpt.level * 20 + 5}}px">{{ cat.hierarchicalPath }}</span> </td>
                        <td> <a href="" ng-click="initiateNewCategory($event, cat)" ng-show="isTopLevel(cat)">   <i class="fa fa-plus-square"></i></a>&nbsp;</td>
                        <td> <a href="" ng-click="initiateDeleteCategory($event, cat)" ng-show="isCategoryEmpty(cat)"><i class="fa fa-minus-square"></i></a>&nbsp;</td>
                        <td> <a href="" ng-click="initiateRenameCategory($event, cat)"><i class="fa fa-edit"></i></a>&nbsp; </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>



<div class="container">
    <form class="form" style="margin-top: 10px;" name="UncategorizedReportForm">
        <div class="form-group col-sm-12">
            <label class="control-label">Uncategorized Reports</label>
            <div>
                <table class="table table-bordered table-condensed">
                    <tr ng-repeat="rpt in uncategorizedReports">
                        <td>
                            <span style="margin-left: {{rpt.level * 20 + 5}}px">{{ rpt.name }}</span>
                        </td>
                        <td>
                            <a href="" ng-click="initiateAddCategories($event, rpt)"><i class="fa fa-plus-square"></i></a>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <form class="form" name="CategorizedReportForm" style="margin-top: 10px;">
        <div class="form-group col-sm-12">
            <label class="control-label">Categorized Reports</label>
            <div>
                <table class="table table-bordered table-condensed">
                    <tr ng-repeat="rpt in categorizedReports">
                        <td> <span ng-bind="rpt.name" style="margin-left: {{rpt.level * 20 + 5}}px"></span></td>
                        <td> <a href="" ng-click="initiateAddCategories($event, rpt)"  ng-show="isReport(rpt)"><i class="fa fa-plus-square"></i></a>&nbsp;</td>
                        <td> <a href="" ng-click="initiateRemoveFromCategory($event, rpt)" ng-show="isReport(rpt)"><i class="fa fa-minus-square"></i></a>&nbsp;</td>
                        <td><a href="" ng-click="initiateChangeNameDescription($event, rpt)" ng-show="isReport(rpt)"><i class="fa fa-edit" ng-show="isReport(rpt)"></i></a>&nbsp; </td>
                        <td> <a href="" ng-click="initiateEditJSON ($event, rpt)" ng-show="isReport(rpt)"><i class="fa fa-code" ng-show="isReport(rpt)"></i></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>

<!-- Remove Category -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="removeFromCategoryLabel"
     modal-show="showRemoveFromCategory">
    <form class="form" style="margin-top: 10px;" name="removeCategoryForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="removeFromCategoryLabel">Remove Category</h2>
                </div>

                <div class="modal-body">
                    Remove report <br />
                    <h4> {{ selectedReport.name }}</h4>
                    from category <br />
                    <h4> {{ selectedReportParent.hierarchicalPath }} ?</h4>
                    <span class="nova-error" ng-show="removeCategoryForm.$error.removeCategoryFail">Could not remove report from category</span>`
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmRemoveFromCategory($event, removeCategoryForm)">OK</button>
                    <button type="button" class="btn btn-primary" ng-click="cancelRemoveFromCategory($event)">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>




<!-- Add Category  -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCategoriesLabel"
     modal-show="showAddCategories">
    <form class="form" style="margin-top: 10px;" name="addCategoryForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="addCategoriesLabel">Add Report to Categories</h2>
                </div>

                <div class="modal-body">
                    Add the report:<br />
                    <h4>  {{ selectedReport.name }}  </h4> <br />
                    to the following categories:

                    <select multiple ng-multiple="true" id="addCategorySelector"
                            ng-model="addedCategories"
                            class="form-control" size="10"
                            ng-options="cat.hierarchicalPath for cat in selectedReportNonCategories"
                            required>
                    </select>
                    <span class="nova-error" ng-show="addCategoryForm.$error.addCategoryFail">Could not add report to category</span>`
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmAddCategories($event, addCategoryForm)">OK</button>
                    <button type="button" class="btn btn-primary" ng-click="cancelAddCategories($event)">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Change Name and Description -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changeNameDescriptionLabel"
     modal-show="showChangeNameDescription">
    <form class="form" style="margin-top: 10px;" name="changeNameDescriptionForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="changeNameDescriptionLabel">Change Name and Description </h2>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" placeholder="Name" required ng-model="reportName">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" rows="4" ng-model="reportDescription" type="text" class="form-control" placeholder="Description (optional)"></textarea>
                    </div>
                    <span class="nova-error" ng-show="changeNameDescriptionForm.$error.changeNameDescriptionFail">Could not update label and description</span>
                    <span class="nova-error" ng-show="changeNameDescriptionForm.$error.invalidLabel">Invalid label</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmChangeNameDescription($event, changeNameDescriptionForm)">OK</button>
                    <button type="button" class="btn btn-primary" ng-click="cancelChangeNameDescription($event)">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Edit JSON -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editJSONLabel"
     modal-show="showEditJSON">
    <form class="form" style="margin-top: 10px;" name="editJSONForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="editJSONLabel">Edit Report Metadata</h2>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="metadata">Metadata for: {{ selectedReport.name }} </label>
                        <textarea id="metadata" rows="4" ng-model="reportMetadata" type="text" class="form-control" ></textarea>
                    </div>
                    <span class="nova-error" ng-show="editJSONForm.$error.badJSON">The JSON is invalid</span>
                    <span class="nova-error" ng-show="editJSONForm.$error.editJSONFail">Could not update JSON</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmEditJSON($event, editJSONForm)">OK</button>
                    <button type="button" class="btn btn-primary" ng-click="cancelEditJSON($event)">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- New Category -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="newCategoryLabel"
     modal-show="showNewCategory">
    <form class="form" style="margin-top: 10px;" name="newCategoryForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="newCategoryLabel" >{{ newCategoryTitle }}</h3>
                    <input ng-model="categoryName" type="text" value="" />
                </div>

                <div class="modal-body">
                    <div class="form-group">

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmNewCategory($event, newCategoryForm)">OK</button>
                    <button type="button" class="btn btn-primary" ng-click="cancelNewCategory($event)">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Delete Category -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryLabel"
     modal-show="showDeleteCategory">
    <form class="form" style="margin-top: 10px;" name="deleteCategoryForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="deleteCategoryLabel">Confirm Delete </h2>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <p>Are you sure you want to delete {{ selectedCategory.hierarchicalPath }}? </p>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmDeleteCategory($event, deleteCategoryForm)">OK</button>
                    <button type="button" class="btn btn-primary" ng-click="cancelDeleteCategory($event)">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>



<!-- Rename Category -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="renameCategoryLabel"
     modal-show="showRenameCategory">
    <form class="form" style="margin-top: 10px;" name="renameCategoryForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="renameCategoryLabel">Rename Category</h2>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <p> Enter a new name for {{ selectedCategory.hierarchicalPath }}:</p>
                        <input type="text" ng-model="categoryName" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="confirmRenameCategory($event, editJSONForm)">OK</button>
                    <button type="button" class="btn btn-primary" ng-click="cancelRenameCategory($event)">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
