<div>
    <div class="agreement-div jumbotron">
        Through your usage of Guttersnipe, you are in no way subjecting the developers of Guttersnipe to any sort of legal jeopardy
        <div class="text-center">
            <a ui-sref="home" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-circle-arrow-left"> Negate </span></a>

            <a ui-sref="resources_wizard.instructions" type="button" class="btn btn-success">Consent <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
        </div>
    </div>
    <div class="text-center">
        <del> <em><small>You are free to use Guttersnipe as you wish.</small></em></del>
    </div>
</div>